<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
      <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css" />

      <link
         rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
         crossorigin="anonymous"
      />
      <link rel="stylesheet" type="text/css" href="style.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
      <title>Simple Chat App</title>
   </head>

   <body>
      <div class="container-fluid">
         <div class="row">
            <header class="col-lg-6 offset-lg-3 d-flex justify-content-center">
               <h1 class="">Wild Chat</h1>
            </header>
         </div>
         <div class="row">
            <div class="col-lg-10 offset-lg-1">
               <section id="chatroom" class="chatroombox d-flex flex-column">
                  <section id="feedback" class=""></section>
               </section>
            </div>
         </div>

         <section class="row" style="margin-top:5px;">
            <div class="input-group mb-3 col-lg-3 offset-lg-1 col-4" id="change_username">
               <input
                  id="username"
                  type="text"
                  class="form-control"
                  aria-label="Recipient's username"
                  aria-describedby="send_username"
                  placeholder="Username"
               />
               <div class="input-group-append">
                  <button id="send_username" class="btn btn-primary" type="button">Ssername</button>
               </div>
            </div>
            <div class="col-lg-7 col-8">
               <div class="input-group mb-3" id="input_zone">
                  <input
                     type="text"
                     id="message"
                     class="form-control"
                     placeholder="Say something"
                     aria-label="Recipient's message"
                     aria-describedby="send_message"
                  />
                  <div class="input-group-append">
                     <button class="btn btn-primary" type="button" id="send_message">Send message</button>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="chat.js"></script>
   </body>
</html>
