@font-face {
   font-family: champagne;
   src: url("/fonts/Champagne\ &\ Limousines\ Bold.ttf");
}

body {
   background-color: grey;
   font-family: champagne;
}

.alertt:nth-child(even) {
   background-color: #81daf5;
}

.alertt:nth-child(odd) {
   background-color: #5db1ff;
}

.chatroombox {
   background-color: white;
   border: 2px, solid grey;
   border-radius: 5px;
   min-height: 70vh;
   max-height: 70vh;
   padding-top: 10px;
   overflow: auto;
}
